.replyContainer {
    padding-bottom: 200px;
}
a {
  text-decoration: none;
  font-size: 18px;
  color: blue;
}
.replyWrapper {
  margin-top: 25px;
  min-width: 400px;
  max-width: 1200px;
  border: solid 2px blue;
  border-radius: 10px;
}
.replyBody {
    padding: 15px;
}
