.container {
  margin-top: 80px;
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  min-width: 800px;
}
.statusString {
    display: flex;
    flex-direction: row;
}
.orderItemContainer {
  min-width: 300px;
  max-width: 800px;
  border: solid 2px blue;
  border-radius: 10px;
}
.cartTopLine {
  flex: 0 0 24px;
  display: flex;
  padding: 23px 20px 16px 20px;
  box-sizing: content-box;
}

.cartItem {
  padding: 10px 20px;
  flex-direction: row;
  flex-wrap: nowrap;
  display: flex;
  align-items: center;
  font-size: 18px;
}
