<div [ngClass]="{body:true}">
  <div [ngClass]="{navbar1:true}">
    <div [ngClass]="{logo:true}">
      <a routerLink="">
        <h1 [ngStyle]="{'color':'blue','font-size':'40px'}">{{title}}</h1>
      </a>
    </div>
    <!-->
    <div>
      <ul>
        <li><a routerLink="">Рестораны</a></li>
        <li><a routerLink="/promotions">Акции</a></li>
        <li><a routerLink="">Ввести промокод</a></li>
      </ul>
    </div>
    </!-->
    <div [ngClass]="{navright:true}">
      <ul>
        <li><a routerLink="/search" [ngClass]="{borderItem:true}">Отследить заказ</a></li>
        <li *ngIf="!logIn"><a routerLink="/login" [ngClass]="{borderItem:true}">Войти</a></li>
        <li *ngIf="logIn"><a routerLink="/profile" [ngClass]="{borderItem:true}">Профиль</a></li>
      </ul>
    </div>
  </div>  
  <router-outlet></router-outlet>
</div>
