.container {
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  min-width: 800px;
}

.searchButton {
  color: blue;
  font-size: 18px;
  padding-left: 0;
}

.searchContainer {
  margin-top: 80px;
  width: 300px;
  margin-right: auto;
  margin-left: auto;
}
